[user]
	name = Peter Horne
	email = peterhorne92@gmail.com
[core]
    excludesfile = /Users/peter/.gitignore
    editor = nvim
[color]
	ui = true
[push]
	default = simple
[merge]
	tool = fugitive
	conflictstyle = diff3
[alias]
	up = pull --rebase
	lg = log --graph --oneline --decorate
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
[tag]
	sort = version:refname
[rerere]
	enabled = true
[pager]
	branch = false
